Milena e Thaís - Lightfm Recommender System

In [1]:
#Imports
import numpy as np
import pandas as pd
import sys
#import lightfm.cross_validation
#from lightfm import LightFM
#from lightfm.evaluation import precision_at_k
#from lightfm.data import Dataset

ModuleNotFoundError: No module named 'lightfm'

In [2]:
#Leitura dos arquivos content.jsonl, ratings.jsonl e targets.csv

content = pd.read_json('content.jsonl', lines=True)
ratings = pd.read_json('ratings.jsonl', lines=True)
targets = pd.read_csv('targets.csv')

In [9]:
# Printar tamanho de content, ratings e targets
print(content.shape , ratings.shape , targets.shape)

(38012, 29) (659720, 4) (616200, 2)

In [11]:
content.head(1)

,ItemId,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,Type,DVD,BoxOffice,Production,Website,Response,totalSeasons,Season,Episode,seriesID
0,c9f0f895fb,Edison Kinetoscopic Record of a Sneeze,1894,N/A,09 Jan 1894,1 min,"Documentary, Short",William K.L. Dickson,N/A,Fred Ott,...,movie,N/A,N/A,N/A,N/A,True,NaN,NaN,NaN,NaN

In [13]:
ratings.head(1)

       UserId      ItemId           Timestamp  Rating
0  c4ca4238a0  91766eac45 2013-10-05 22:00:50       8

In [14]:
targets.head(1)

       UserId      ItemId
0  0006246bee  01d2404d4c