Milena e Thaís - Lightfm Recommender System

In [25]:
#Imports
import numpy as np
import pandas as pd
import sys
#import lightfm.cross_validation
#from lightfm import LightFM
#from lightfm.evaluation import precision_at_k
#from lightfm.data import Dataset

In [26]:
#Leitura dos arquivos content.jsonl, ratings.jsonl e targets.csv
content = pd.read_json('content.jsonl', lines=True).drop(columns=['Rated','Released','Runtime','Poster','Ratings','DVD','BoxOffice','Production','Website','Response','totalSeasons','Season','Episode','seriesID'])
ratings = pd.read_json('ratings.jsonl', lines=True)
targets = pd.read_csv('targets.csv')

In [27]:
# Printar tamanho de content, ratings e targets
print(content.shape , ratings.shape , targets.shape)

(38012, 15) (659720, 4) (616200, 2)

In [28]:
content.head(1)

,ItemId,Title,Year,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Metascore,imdbRating,imdbVotes,Type
0,c9f0f895fb,Edison Kinetoscopic Record of a Sneeze,1894,"Documentary, Short",William K.L. Dickson,N/A,Fred Ott,A man (Edison's assistant) takes a pinch of sn...,None,United States,1 win,N/A,5.5,"1,980",movie

In [29]:
ratings.head(1)

       UserId      ItemId           Timestamp  Rating
0  c4ca4238a0  91766eac45 2013-10-05 22:00:50       8

In [30]:
targets.head(1)

       UserId      ItemId
0  0006246bee  01d2404d4c

In [31]:
#Listar todas as colunas de content
content.columns

Index(['ItemId', 'Title', 'Year', 'Genre', 'Director', 'Writer', 'Actors',
       'Plot', 'Language', 'Country', 'Awards', 'Metascore', 'imdbRating',
       'imdbVotes', 'Type'],
      dtype='object')

In [32]:
'''Limpeza dos dados de content
Genre: Transformar os generos em colunas binárias
Director: Transformar coluna de string pra lista
Language: Ignorar linguas poucas conhecidas
Awards: Separar nominations de wins
Metascore: Transformar em int
imdbRating: Transformar em int
imdVotes: Transformar em int
'''

'Limpeza dos dados de content\nGenre: Transformar os generos em colunas binárias\nDirector: Transformar coluna de string pra lista\nLanguage: Ignorar linguas poucas conhecidas\n\n\n'