## Milena e Thaís - Lightfm Recommender System

In [68]:
#Imports
import numpy as np
import pandas as pd
import sys
#import lightfm.cross_validation
#from lightfm import LightFM
#from lightfm.evaluation import precision_at_k
#from lightfm.data import Dataset

### Leitura e Analise dos Dados

In [69]:
#Leitura dos arquivos content.jsonl, ratings.jsonl e targets.csv
content = pd.read_json('content.jsonl', lines=True).drop(columns=['Rated','Released','Runtime','Poster','Ratings','DVD','BoxOffice','Production','Website','Response','totalSeasons','Season','Episode','seriesID'])
ratings = pd.read_json('ratings.jsonl', lines=True)
targets = pd.read_csv('targets.csv')

In [70]:
# Printar tamanho de content, ratings e targets
print(content.shape , ratings.shape , targets.shape)

(38012, 15) (659720, 4) (616200, 2)

In [71]:
content.head(1)

,ItemId,Title,Year,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Metascore,imdbRating,imdbVotes,Type
0,c9f0f895fb,Edison Kinetoscopic Record of a Sneeze,1894,"Documentary, Short",William K.L. Dickson,N/A,Fred Ott,A man (Edison's assistant) takes a pinch of sn...,None,United States,1 win,N/A,5.5,"1,980",movie

In [72]:
ratings.head(1)

       UserId      ItemId           Timestamp  Rating
0  c4ca4238a0  91766eac45 2013-10-05 22:00:50       8

In [73]:
targets.head(1)

       UserId      ItemId
0  0006246bee  01d2404d4c

In [74]:
#Listar todas as colunas de content
content.columns

Index(['ItemId', 'Title', 'Year', 'Genre', 'Director', 'Writer', 'Actors',
       'Plot', 'Language', 'Country', 'Awards', 'Metascore', 'imdbRating',
       'imdbVotes', 'Type'],
      dtype='object')

### Funções Auxiliáres

In [75]:
def oneHotEncodingGenre(content,column):
    #Splitar o genero por , e Substituir ' ' por ''
    genre = content[column].str.replace(' ','').str.split(',')

    #Pega os generos unicos
    uniqueGenres = set()
    for i in genre:
        for j in i:
            uniqueGenres.add(j)

    #Cria duas novas colunas para marcar se o conteudo tem ou nao o genero

    features = []

    for g in uniqueGenres:
        content[g] = content[column].apply(lambda j: g in j)
        features.append(g+':False') #Caso nao tenha o genero
        features.append(g+':True') #Caso tenha o genero

    #Adapta as features par o lightfm
    #Se um filme pertence aos gêneros “Ação” e “Aventura”, a lista de strings correspondente terá os elementos “Ação:True” e “Aventura:True”.

    genreLightfmFeatures = []

    for i in content.to_dict(orient='Records'):
        genreLightfmFeatures.append([g+':'+str(i[g]) for g in uniqueGenres])


    return uniqueGenres, features , genreLightfmFeatures

### Limpeza dos dados de content
Genre: Transformar os generos em colunas binárias
Director: Transformar coluna de string pra lista
Language: Ignorar linguas poucas conhecidas
Awards: Separar nominations de wins
Metascore: Transformar em int
imdbRating: Transformar em int
imdVotes: Transformar em int

In [76]:
#Genre: Transformar os generos em colunas binárias
uniqueGenres, features , genreLightfmFeatures = oneHotEncodingGenre(content,'Genre')

#mostrar uniqueGenres, features e genreLightfmFeatures
print(uniqueGenres)

{'Sci-Fi', 'Action', 'Talk-Show', 'War', 'Music', 'Musical', 'News', 'Romance', 'Adventure', 'Fantasy', 'Short', 'Animation', 'Drama', 'Mystery', 'Game-Show', 'N/A', 'Sport', 'Thriller', 'History', 'Adult', 'Biography', 'Family', 'Comedy', 'Film-Noir', 'Western', 'Reality-TV', 'Documentary', 'Horror', 'Crime'}

In [77]:
#Director: Transformar coluna de string pra lista

In [78]:
#Language: Ignorar linguas poucas conhecidas

In [79]:
#Awards: Separar nominations de wins

In [80]:
#Metascore: Transformar em int

In [81]:
#imdbRating: Transformar em int

In [82]:
#imdVotes: Transformar em int